@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --color: #333;
  --colormain: #4e7e3e;
  --colorSecond: #82641c;

}

body {
  font-family: "peachy-keen-jf", sans-serif!important;
  color: var(--color);
  background-image: url("/img/BSA-BK.png");
  background-attachment: fixed;

}

.container {
  text-align: center;
  padding: 20px;
  
}


.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header p{
    width: 90vw;
}


.MainTitle{
  font-size: 5vw;
  color: var(--colorSecond);
}
.card {
  border-radius: 30px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.position-img {
max-height: 300px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.position-title,
.person-name {
  text-align: center;
}
footer{
  width: 100vw;
  overflow-x: hidden;
  margin-right: 50px;
}





@media (max-width: 768px) {
  /* Adjustments for tablets and smaller screens */
  .container {
    background-attachment: scroll;
  }

  .second {
    height: auto;
  }

  .second, .item {
    flex-direction: column;
  }

  .img {
    height: 150px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
  }

  a {
    padding: 0.8em 2.5em;
  }

  h3 {
    font-size: 1.2rem;
  }
  
}


